.l { float: left; }
.block { display: block; }
.flashcard { border: 1px solid #111; padding: 10px 25px; margin: 5px; }
.flashcard__hangul { margin: 0; font-size: 40px; line-height: 46px; }
.flashcard__roman { text-align: center; font-size: 16px; line-height: 22px; margin-top: 5px; }

.flashcard__main { width: 30%; margin: 0 auto; text-align: center; margin-top: 8%; }
.flashcard__question__heading { font-size: 160px; line-height: 166px; }
.flashcard__input { text-align: center; font-size: 28px; height: 100%; margin-top: 25px; }
